<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.jooboard.dao.BoardDao">
    <insert id="insert" parameterType="com.board.jooboard.vo.Board" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO BOARD 
        (
        	BOARD_ID,
        	USER_ID,
        	BOARD_TITLE,
        	BOARD_CONTENT,
        	BOARD_CNT,
        	DEL_YN,
        	REG_DATE,
        	ATCH_YN
        )
        VALUES
        (
        	#{boardId},
        	#{userId},
        	#{boardTitle},
        	#{boardContent},
        	#{boardCnt},
        	#{delYn},
        	now(),
        	#{atchYn}
        ) 
    </insert>

	<insert id="commentWrite" parameterType="com.board.jooboard.vo.BoardComment" useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO BOARD_COMMENT 
        (
        	COMMENT_ID,
        	COMMENT_CONTENT,
        	BOARD_ID,
        	USER_ID,
        	REG_DT,
        	DEL_YN
        )
        VALUES
        (
        	#{commentId},
        	#{commentContent},
        	#{boardId},
        	#{userId},
        	now(),
        	#{delYn}
        ) 
    </insert>
    
	<update id="update" parameterType="com.board.jooboard.vo.Board">
		UPDATE BOARD
			SET BOARD_TITLE = #{boardTitle},
				BOARD_CONTENT = #{boardContent},
				ATCH_YN = #{atchYn},
				MOD_DATE = now()
		WHERE BOARD_ID = #{boardId}
	</update>

	<update id="contentUpdate" parameterType="com.board.jooboard.vo.BoardComment">
		UPDATE BOARD_COMMENT
			SET COMMENT_CONTENT = #{commentContent},
				MOD_DT = now()
		WHERE COMMENT_ID = #{commentId}
	</update>

    <select id="selectBoardList" resultType="com.board.jooboard.vo.Board">
    	SELECT
    		*
   		FROM BOARD
   		WHERE DEL_YN = "N"
   		ORDER BY REG_DATE DESC
    </select>

	<select id="selectBoardComment" parameterType="com.board.jooboard.vo.BoardComment">
    	SELECT
    		*
   		FROM BOARD_COMMENT
   		WHERE DEL_YN = "N"
		AND BOARD_ID = #{boardId}
   		ORDER BY REG_DT DESC
    </select>

	<select id="selectBoardById" parameterType="com.board.jooboard.vo.Board" resultType="com.board.jooboard.vo.Board">
		SELECT
			*
		FROM BOARD
		WHERE BOARD_ID = #{boardId}
	</select>

	<update id="delete" parameterType="com.board.jooboard.vo.Board">
		UPDATE BOARD
			SET DEL_YN = #{delYn}
		WHERE BOARD_ID = #{boardId}
	</update>

</mapper>