<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.jooboard.dao.UserDao">
    <insert id="insert" parameterType="com.board.jooboard.vo.Users" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO USERS 
        (
        	USER_ID,
        	USER_NAME,
        	USER_PW,
        	USER_EMAIL,
        	MOBILE_NO,
        	BIRTH,
        	REG_DATE,
			ROLE
        )
        VALUES
        (
        	#{userId},
        	#{userName},
        	#{userPw},
        	#{userEmail},
        	#{mobileNo},
        	#{birth},
        	now(),
			#{role}
		)
    </insert>
    

    <select id="dupliCheck" parameterType="com.board.jooboard.vo.Users" resultType="int">
    	SELECT
    		COUNT(*)
   		FROM USERS
   		WHERE USER_ID = #{userId}
    </select>

	<select id="login" parameterType="com.board.jooboard.vo.Users" resultType="int">
    	SELECT
    		COUNT(*)
   		FROM USERS
   		WHERE USER_ID = #{userId}
		AND USER_PW = #{userPw}
    </select>

	<select id="findByUserId" parameterType="com.board.jooboard.vo.Users" resultType="com.board.jooboard.vo.Users"> 	
		SELECT 
			* 
		FROM  USERS
		WHERE USER_ID = #{userId}
	</select>

	<select id="findOne" parameterType="com.board.jooboard.vo.Users" resultType="java.util.Optional">
		SELECT 
			* 
		FROM  USERS
		WHERE USER_ID = #{userId}
	</select>

</mapper>